<div class="row" style="padding-bottom: 20px; display: flex; align-items: center; font-size: 18px;" id="request">
  <div class="col-md-4">
    <h1 style="color: #fff; text-align: right;">Test</h2>
    <h1 style="color: #fff; text-align: right;">Your</h2>
    <h1 style="color: #fff; text-align: right;">Preparedness</h2>
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-4" style="color: silver; margin-left: 20px; padding-top: 20px;">
    <p style="line-height: 200%;">
      By requesting a Cato, you are submitting yourself for consideration by
      CatoPro's community. You will be notified when a volunteer member has
      agreed to serve as your Cato, and an attack may take place any time thereafter.
    </p>

    <p>
      You will have no further information about the nature of your attacker or
      the timing of the attack.
    </p>

  </div>
  <div class="col-md-3" style="color: silver; line-height: 200%">
    <p style="line-height: 200%;">
      Your request implies that you are in a constant state of martial readiness.
      A Cato is honor-bound to exploit your weaknesses; An attack may come at
      any place or time.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
<form method='post' action='/encounter'>
  <div class="col-md-4">
    <div class="row">
        <div class="col-md-12">
        <h3 style="color: #FFFFFF;">Encounter Type</h3>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select encounter type...
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Not to the Death</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Other</a></li>
          </ul>
        </div><!--dropdown-->
      </div> <!--col-md-4-->
    </div><!--row-->

    <div class="row">
      <div class="col-md-12">
        <h4 style="color: #FFFFFF;">Time of Encounter</h4>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Selecte encounter time...
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><input type="radio">Random</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Schedule a Time</a></li>
          </ul>
        </div><!--dropdown-->
      </div><!--col-md-4-->
    </div> <!--row-->
  </div>

  <div class="col-md-5">
    <button class="btn-block btn-danger" style="height: 150px;" type="submit">

      <p style="font-size: 3em;"><strong>
        Request Cato
      </strong></p>

      <p>
      This action cannot be undone.
      </p>
    </button>
  </div>
  </form>
  </div> <!--row-->
</div>
