<div class="row" style="padding-bottom: 20px;">
  <div class="col-md-3 col-md-offset-1" style="padding-right: 10px;">
    <h1 style="color: #fff; text-align: right;">Test</h2>
    <h1 style="color: #fff; text-align: right;">Your</h2>
    <h1 style="color: #fff; text-align: right;">Preparedness</h2>
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-4">
    <p style="vertical-align: middle;">
      By requesting a Cato, you are submitting yourself for consideration by
      CatoPro's community. You will be notified when a volunteer member has
      agreed to serve as your Cato, and an attack may take place any time thereafter.
      You will have no further information about the nature of your attacker or
      the timing of the attack.
    </p>
  </div>
  <div class="col-md-3" style="vertical-align: middle;">
    <p>
      It is imperative that you maintain a constant state of martial readiness.
      A Cato is honor-bound to exploit your weaknesses; An attack may come at
      any place or time.
    </p>
  </div>
</div>
<div class="row">
<div class="col-md-12">
<form>
      <div class="col-md-2"></div>

      <div class="col-md-3 col-md-offset-1">
        <h3 style="color: #FFFFFF;">Encounter Type</h3>
        <div class="btn-group-lg" role="group" aria-label="type-of-fight">
          <button type="button" class="btn btn-default">Not to the Death</button>
          <button type="button" class="btn btn-default">Other</button>
        </div> <!--btn-group-->
      </div><!--col-md-4-->

<div class="col-md-1"></div>

      <div class="col-md-3">
        <h3 style="color: #FFFFFF;">Time of Encounter</h3>
        <div class="btn-group-lg" role="group" aria-label="type-of-fight">
          <button type="button" class="btn btn-default">Random</button>
          <button type="button" class="btn btn-default">Schedule a Time</button>
        </div> <!--btn-group-->
      </div><!--col-md-4-->
      <div class="col-md-2"></div>



  </div> <!--row-->
</div>
<div class="row" style="padding-top: 50px;">
  <div class="col-md-6 col-md-offset-3">
    <button class="btn-block btn-danger" style="height: 150px;" type="submit">

      <p style="font-size: 3em;"><strong>
        Request Cato
      </strong></p>

      <p>
      This action cannot be undone.
      </p>
    </button>
  </div>
  </form>
</div>
