<%
    @defender = User.find(@encounter.defender)
    @attacker = current_user
%>

<h1>Accept Challenge?</h1>
<form method='post' action='/encounter/accept'>
  <input type="hidden" name="_method" value="put">
  <input class="btn btn-primary" type="submit" value="Accept">
</form><br>
<div class="container" style="margin-left: 10%; margin-right: 30%; margin-top: 30px;">
  <div class="col-md-4 panel" style="margin-right: 50px;">

    <div class="panel-heading">
      <h2>Defender:</h2>
      <h3><%= @defender.username %></h3>
    </div>

    <div class="well">
      <ul>
        <li>Area: <%= @encounter.location %></li>
        <li>Provided Address: [Address]

              <%= #This will at some point contain
                  # @defender.address, when that's a
                  # value that we ask for during signup
              %>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4 panel">
    <div class="panel-heading">
      <h2>Attacker:</h2>
    <h3>
    <% if @encounter.attacker_id %>
      Cato: <%= @attacker.username %>
    <% else %>
      Cato Unassigned
    <% end %>
    </h3>
  </div>
    <div class="well">
      <ul>
        <li>Default data</li>
        <li>It would be really great</li>
        <li>  to fill this with some stuff</li>
        <li>    just like whenever we get around to it.</li>
      </ul>
    </div>
  </div>
</div>
<br>
<div style="float: clear;"><a href="/">Go back to home page</a></div>
