
<style>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
*{
  margin:0;
  padding:0;
  font-family: Oswald;
}
.jumbotron {
    /* add bootstrap jumbotron background image */
    background: url('assets/homepage_background_img.jpeg') no-repeat center center;
    background-size: cover;
    height: 900px;
    position: relative;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
}

</style>


<div class="jumbotron">
    <div class="container" style="position: absolute; top: 25%; background-color:rgba(0,0,0,0.2);width:100%;">
        <div class="row">
            <h1 style="color: #fff"><strong>Welcome to your Dojo.</strong></h1>
            <p style="color: #fff">Stay vigilant at all times</p>
            <p><a href="#" class="btn btn-primary btn-lg"> Sign up</a></p>
        </div>
    </div>
</div>
<%= erb :about %>

    <div class="background-wrap">
      <img src="/assets/dojo-caption.png" height="100%" width="100%">
      <!-- <iframe frameborder="0" height="100%" width="100%"
      src="https://www.youtube.com/embed/hS5CfP8n_js?autoplay=1&controls=0&showinfo=0&autohide=1&autoplay=1" >
      </iframe> -->
    </div>
