<article class="col-sm-8 col-md-9">
                
                    <h2>Write a review</h2>
                
                    <!-- START Review form -->
                    
                    <form method='post' action="/review" role="form">

                        <div class="row">
                            <!-- Name -->
                         <!--    <div class="col-md-4 form-groupform-group">
                                <label for="name" class="control-label">Your name</label>
                                <input type="text" class="form-control" id="name">
                            </div> -->
                            
                            <!-- Email -->
                            <div class="col-md-4 form-group">
                                <label for="damage" class="control-label">Total Damge Taken</label>
                                <input type="damage" name="damage" class="form-control" id="damage" placeholder="Dollar Amount">
                            </div>
                            
                            <!-- Rating stars -->
                            <div class="col-md-4 form-group">
                                <label class="control-label">Rate Us!  </label>
                                    
                                <div class="rating rating star">
                                    <div class="rating-wrapper">
                                        <input type="radio" name="rating" id="rating" value="5">
                                        <label >5</label>
                                        
                                        <input type="radio" name="rating" id="rating" value="4">
                                      <!--   <label class="fa fa-star" for="star-rating-4-1"></label> -->
                                        <label >4</label>
                                        
                                        <input type="radio" name="rating" id="rating" value="3">
                                        <label >3</label>
                                        
                                        <input type="radio" name="rating" id="rating" value="2">
                                        <label >2</label>
                                        
                                        <input type="radio" name="rating" id="rating" value="1">
                                        <label >1</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Message -->
                        <div class="form-group">
                            <label for="review" class="control-label">Please leave your review!</label>
                            <textarea class="form-control" name="review" id="review" cols="20" rows="6"></textarea>
                        </div>
                        
                        <!-- Send button -->
                        <div class="form-group">
                            <button type="submit" name="submit"class="btn btn-primary">Send review</button>
                        </div>
                    </form>

                    <!-- END Review form -->
                    
                </article>