<h1>Sign up, yo.</h1>

<form method="post" action="/signup/new_user">
  <div class="col-md-4 panel">

    <div class="panel-heading">
      <h2>New User</h2>
    </div>

    <div class="well">
      <ul>
        <li><input type="text" name="username"></li>
        <li>How many infos you has?</li>
      </ul>
    </div>
  </div>

  <div class="col-md-4 panel">
    <div class="panel-heading">
      <h2>Qualifications:</h2>
  </div>
    <div class="well">
      <ul>
        <li>What kinda black belts you has</li>
        <li>What kinda punches you does</li>
        <li>What kinda kicks you kicks</li>
        <li>Does you know the nunchucks</li>
      </ul>
    </div>
<input type="submit" value="Sign Up">
</form>
  </div>
