

<% if   @user.errors.any? %>
  <div>
    <strong>Some issues with your sign up information, please fill them up!</strong>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="container">
  <div class="page-header">
    <h1>Sign Up!</h1>
  </div>


  <form method='post' action="/user">
  
    <div>
      <label> Email:</label>
      <input type='text' name='username' value='<%= @user.username %>' placeholder='Your Email'>
    </div>
    <div>
      <label> Password:</label>
      <input type='text' name='password' placeholder='Your Password' >
    </div>

    <div>
      <input type='Submit' value='Sign Up'>
    </div>
  </form>

  <a href="/">Already have an account? Sign in! </a>
</div>
