<style>

  
</style>


<nav class="navbar navbar-inverse" style="margin-bottom: 0px">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">CatoPro</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/user/<%=session[:current_user] %>">Dashboard</a></li>
        <li><a href="/user/<%=session[:current_user] %>#request">Request to be Attacked at Random</a></li>
        <li><a href="/schedule">Serve as Cato</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <% if session[:current_user] %>
          <li>
            <a href="/user/<%=session[:current_user] %>"><strong>Signed in as <%=User.find(session[:current_user]).username %></strong></a>
          </li>
          <li><a href="#">
            <form method='post', action='/logout'>
              <input class="btn btn-success" type="submit" name="logout" value="Log out" style="border-radius:1em;">
            </form>
          </a>
          </li>
        <% else %>
          <form method='post', action='/login' style="margin-top:10px">
              <!-- <label for='username'>Username:</label> -->
              <input type='text' name='username' placeholder="Username" style="border-radius:.5em;">
              <!-- <label for='password'>Password:</label> -->
              <input type='password' name='password' placeholder="Password" style="border-radius:.5em; height:1.5em">
              <input class="btn-success" type='submit' name='submit' value='Log In' style="border-radius:.5em;">
              <button class="btn-primary" style="border-radius:.5em;"><a href="/user/new" style="color: black;">Sign-up</a></button>
           </form>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
